In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']

my_data = [10,20,30]

arr = np.array(my_data)

d = {'a':10,'b':20,'c':30}

In [4]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data , labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series(data=[sum,print,input,int])

0                              <built-in function sum>
1                            <built-in function print>
2    <bound method Kernel.raw_input of <ipykernel.i...
3                                        <class 'int'>
dtype: object

In [15]:
ser1 = pd.Series(data = [1,2,3,4], index = ['USA','Germany','USSR','Japan'])

In [16]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [17]:
ser2 = pd.Series(data = [1,2,5,4], index = ['USA','Germany','Italy','Japan'])

In [18]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [19]:
ser1['USA']

1

In [20]:
ser3 = pd.Series(data = labels)

In [21]:
ser3

0    a
1    b
2    c
dtype: object

In [23]:
ser3[1]

'b'

In [24]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

# PANDAS PRACTICE

In [41]:
s1 = pd.Series(data = [132000,120000,100000,110000], index = ['Hrithik','Yugal','Akhil','Mallu'], name='Salary')

In [42]:
s2 = pd.Series(data = [122000,132000,120000,110000], index = ['Hrithik','Yugal','Akhil','Mallu'], name='Additional Salary')

In [43]:
s1

Hrithik    132000
Yugal      120000
Akhil      100000
Mallu      110000
Name: Salary, dtype: int64

In [44]:
s2

Hrithik    122000
Yugal      132000
Akhil      120000
Mallu      110000
Name: Additional Salary, dtype: int64

In [45]:
s3 = s1 + s2

In [46]:
s3

Hrithik    254000
Yugal      252000
Akhil      220000
Mallu      220000
dtype: int64