In [4]:
import pandas as pd

In [5]:
pwd

'C:\\Users\\sharm\\DataAnalysis&MachineLearning'

In [7]:
pd.read_csv('example.txt')

    first line
0  second line
1   third line
2  fourth line

In [9]:
df = pd.read_csv('example.txt')

In [10]:
df

    first line
0  second line
1   third line
2  fourth line

In [ ]:
df.to_csv()