In [1]:
import numpy as np
import pandas as pd

In [2]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [9]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [15]:
from numpy.random import randn
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
np.random.seed(101)

In [16]:
df

             A         B
G1 1  1.457426  0.730869
   2  1.160922 -1.320792
   3  0.741750 -0.152841
G2 1  1.023802  0.359580
   2 -1.017993  0.403160
   3  0.908667  0.537566

In [18]:
df.loc['G1'].iloc[2]

A    0.741750
B   -0.152841
Name: 3, dtype: float64

In [20]:
df.index.names = ['Groups','Num']

In [21]:
df

                   A         B
Groups Num
G1     1    1.457426  0.730869
       2    1.160922 -1.320792
       3    0.741750 -0.152841
G2     1    1.023802  0.359580
       2   -1.017993  0.403160
       3    0.908667  0.537566

In [24]:
df.loc['G2'].loc[2]['B']

0.40315958589164724